* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
    color: white;
}

/* Navbar */

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    margin-right: 7px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

/* Main Content */

main {
    padding: 60px 30px;
    background: url(react-logo-black-and-white-1-removebg-preview.png) no-repeat center;
    background-size: 400px;
    background-position: right;


  }

main > h1 {
    margin: 0;
    font-size: 2.4rem;
    color: white;
}

.facts-list {
    margin-top: 46px;
    max-width: 900px;
}

.facts-list > li {
    padding-block: 10px;
    line-height: 1.4;
    margin-block: 10px;
  
}


.facts-list > li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
}

